<!--{% load static %}-->
<footer class="footer">
    <div class="footer__dark-line"></div>
        <p align="center" style="color: orange">
            Это демонстрационная (тестовая) версия сайта размещенная на heroku.com <br>
            в связи с тем heroku.com не хранит долгое время медиа-файлы, для тестирования всех функций сайта<br>
            доступ к админке открыта по ссылке: /admin (login: admin, password: admin)
            <a style="color: orangered" href="https://github.com/Rybak-a87/photobyanni_django">|ссылка на исходный код|</a>
        </p>
    <div class="container footer__container">
        <ul class="footer__list">
            <li class="footer__list-item">
                <a class="footer__list-link link" href="https://www.facebook.com/anni.won.9">
                    <svg class="footer__icon">
                        <image href="{% static 'gallery/images/icons/FB.png' %} " style="width: 17px"></image>
                    </svg>
                    <p class="visually-hidden">facebook</p>
                </a>
            </li>
            <li class="footer__list-item">
                <a class="footer__list-link link" href="https://www.instagram.com/annie_sunnyphoto/">
                    <svg class="footer__icon">
                        <image href="{% static 'gallery/images/icons/Instagram.png' %}" style="width: 17px"></image>
                    </svg>
                    <p class="visually-hidden">tweeter</p>
                </a>
            </li>
        </ul>
        <p class="footer__descr">©  2021 . <a class="link" href="#">Privacy Policy</a></p>
    </div>
</footer>
