<ul class="header__list">
    <li class="header__list-item">
        <div class="header__list-container">
            <a class="link header__list-link" href="{% url 'gallery:gallery_page' %}">Галерея</a>
            <a class="link header__list-link transparent" href="{% url 'gallery:gallery_page' %}">Галерея</a>
        </div>
    </li>
    <li class="header__list-item">
        <div class="header__list-container">
            <a class="link header__list-link" href="{% url 'services:temp_page' %}">Услуги</a>
            <a class="link header__list-link transparent" href="{% url 'services:temp_page' %}">Услуги</a>
        </div>
    </li>
    <li class="header__list-item">
        <div class="header__list-container">
            <a class="link header__list-link" href="{% url 'about:about_page' %}">О себе</a>
            <a class="link header__list-link transparent" href="{% url 'about:about_page' %}">О себе</a>
        </div>
    </li>
    <li class="header__list-item">
        <div class="header__list-container">
            <a class="link header__list-link" href="{% url 'about:contacts_page' %}">Контакты</a>
            <a class="link header__list-link transparent" href="{% url 'about:contacts_page' %}">Контакты</a>
        </div>
    </li>
</ul>