<!--Подключение шаблона и static-->
{% extends "base/base.html" %}
{% load static %}

<!--Заголовок этой страницы-->
{% block title %}Галерея{% endblock title %}

<!--Блок main-->
{% block main %}
    <ul class='main__list'>
        {% if albums %}
            {% for album in albums %}
                <a href="#" class="link main__list-link">
                    <li class='main__list-item'>
                        <img class="main__list-item_img" src="{{ album.cover.url }}" alt="{{ album.title }}">
                        <div class="main__descr-wrap">
                            <p class="main__list-descr">{{ album.title }}</p>
                        </div>
                    </li>
                </a>
            {% endfor %}
        {% else %}
            <h1>Даннах нет</h1>
        {% endif %}
    </ul>
<div class="main__inner-container hide">
    <div class="main__inner-wrapper">
        <h2 class="main__inner-title">Lifestyle</h2>
        <div class="main__inner-btn-wrapper"><span class="main__inner-span">&lt;</span>
            <button class="main__inner-btn">Назад в галерею</button>
        </div>
    </div>
    <ul class="main__inner-list"></ul>
    <div class="Overlay">
        <div class=" Modal">
            <img class="modal__img"  alt="" id=""/>
            <div class="modal__btns">
                <button class="modal__btn modal__btn--prev">	<span>	&#171; </span> </button>
                <button class="modal__btn modal__btn--next"> <span>	&#187; </span> </button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
